* {
	margin: 0;
	padding: 0;
	white-space: nowrap;
	text-overflow: ellipsis;
	font-family: Helvetica;
	color: #ddd;
	/*box-sizing: border-box;*/
}

html, body{
	background:	#222;
}

ul#items {
	list-style-type: none;
	width: 100%;
}

h3 {
	font: bold 20px;
}

ul#items li {
	padding: 0;
	overflow: auto;
	min-height: 50px;
	overflow: hidden;
	background: #333;
	margin: 3px 0;
}

ul#items li div.metadata {
	position: relative;
	min-height: 50px;
	padding: 5px 25px 5px 60px;
}

ul#items li div.metadata div.img {
	position: absolute;

	top: calc(50% - 25px);
	left: 5px;
	width: 50px;
	height: 50px;
	background: no-repeat scroll center center;
	background-size: cover;
}

ul#items li p {
	font-size: 12px;
}

ul#items li h3 {
	white-space: normal;
}

ul#items li p.selftext {
	white-space: pre-wrap;
	font-size: 11pt;
	background-color: #444;
	padding: 0;
	margin: 0;
	border-radius: 2px;
	visibility: hidden;
	opacity: 0;
	height: 0;
	transition: opacity 0.5s ease-in;
}

ul#items li.expanded p.selftext {
	visibility: visible;
	opacity: 1;
	height: auto;
	transition: opacity 0.5s ease-out;
	padding: 7px;
	margin: 0 10px 10px 10px;
}

ul#items li:hover {
	background: #444;
	cursor: pointer;
}

ul#items li:hover p.selftext {
	background-color: #555;
}

ul#items li a.remove{
    position: absolute;
    top: 7px;
    right: 7px;
}

ul#menu {
	list-style-type: none;
	margin: 2px;
}

ul#menu > li {
	display: inline;
	background: #ccc;
	color: #000;

	padding: 2px;

	border-radius: 3px;
	border: none;

	width: fit-content;

	cursor: pointer;
}

ul#menu > li:hover {
	background: #fff;
	color: #222;
}